.homePageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 100vh;
}

.formWrapper {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
}

footer a {
  color: #4aee88;
}

.inputGroup {
  display: flex;
  flex-direction: column;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.homePageLogo {
  height: 80px;
  margin-bottom: 20px;
}

.inputBox {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 14px;
  background: #eee;
  font-size: 14px;
  font-weight: bold;
}

.btnn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.joinBtnn,
.leaveBtnn {
  background: #4aed88;
  width: 100px;
  margin-left: auto;
}

.runBtn {
  border: none;
  padding: 7px;
  color: #000;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background: #4aed88;
  width: 100px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}

.joinBtnn:hover,
.leaveBtnn:hover,
.runBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: 0 auto;
  margin-top: 15px;
}

.createNewBtn {
  color: #4aed88;
  text-decoration: none;
  border-bottom: 1px solid #4aed88;
  transition: all 0.3s ease-in-out;
}

.createNewBtn:hover,
footer a:hover {
  color: #368654;
  border-color: #368654;
}

.mainWrap {
  display: flex;
  flex-direction: row;
  /* grid-template-columns: 230px 1fr; */
}

.secWrap {
  display: flex;
  width: 80%;
  flex-direction: row;
}

.thirdWrap {
  width: 22%;
  margin-top: 3rem;
  padding: 1rem;
}

.editorWrap {
  width: 100%;
}

.aside {
  background: #1c1e29;
  padding: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.asideInner {
  flex: 1;
}

.clientsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}

.userName {
  margin-top: 10px;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.logoImage {
  height: 60px;
}

.leaveBtnn {
  width: 100%;
  margin-top: 20px;
}

.topLine {
  justify-content: space-between;
}

.theme {
  margin-left: 37%;
}

.CodeMirror {
  min-height: calc(100vh - 60px);
  font-size: 15px;
  line-height: 1.6;
  padding-top: 20px;
}

#bars {
  display: none;
}

@media only screen and (max-width: 800px) {
  .mainWrap {
    flex-direction: column;
  }

  .secWrap {
    width: 100%;
  }

  .thirdWrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1px;
  }

  .aside {
    display: none;
  }

  .topLine {
    justify-content: flex-end;
  }

  #bars {
    display: block;
    position: absolute;
    left: 4%;
    top: 20px;
  }

  .theme {
    margin: 0%
  }
}